.ba_meters-map .svg_container {
  width: 100%;
  height: 100%;
}

.ba_meters-map .svg_container svg #hide_this {
  display: none;
}
.ba_meters-map .svg_container svg {
  position: absolute;
  width: 1220px;
  top: -55px;
  left: -196px;
}
