/* BRANDING */
.branding {
  background: -webkit-linear-gradient(left, #4bbba3, #55be5a);  
  height: 468px;
  position: absolute;
  width: 1024px;
  z-index: 2;
  overflow: hidden;
}

.branding .logo {
  width: auto;
  padding-top: 0vh;
}