<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/vendor/foundation-6.2.4-custom/css/foundation.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="slideWrapper.css">

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/js/svg-importer.js"></script>
  <script src="slideWrapper.js"></script>

  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #FF5A0F, #E61400);
      color: white;
    }

    #container {
      margin-top: 85px;
      padding-top: 1.5rem;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>

  <div id="container">
    <div class="row">
      <div class="columns small-4">
        <h4>From microgrid to smart grid</h4>
        <h2>Enel in Mexico/h2>
        <div class="info_block">
          <p>We supply over 2TWh of clean energy to our clients in Mexico every year: enough to meet the needs of over 1 million families.</p>
        </div>
      </div>
      <div class="columns small-8">
        <div id="latinAmericaContainer">
          <div class="svg_container">
            <import-svg name="latin_america" location="svg"></import-svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

  <script type="text/javascript">
    var latinAmerica = new latinAmericaSlide('#latinAmericaContainer')
  </script>

</html>
