<html>
    
    <head>
        <script src="bower_components/d3/d3.js"></script>
        <style type="text/css">
            body{
                background-color: #1F1F1F;
            }
            #container{
                width: 300px;
            }
        </style>
        
        <link rel="stylesheet" type="text/css" href="sidebarDonutChart.css">
        
    </head>
    
    <body>
        
        <div id="container"></div>

        <button id="a" style="background: grey; color: white;">update</button>
        
        
        <script src="sidebarDonutChart.js"></script>
        
        <script>

            // initial dataset
            var data = [{name:'v1' , energy:20}, {name:'v2' , energy:34}, {name:'v3' , energy:54}, {name:'v4' , energy:6}, {name:'v5' , energy:7}]
            
            var myDonut = new sidebarDonutChart('#container', data)

            // this emulate the updated dataset
            d3.select('#a')
                .on('click', function(){
                    myDonut.update([{name:'v1' , energy:23}, {name:'v2' , energy:31}, {name:'v3' , energy:49}, {name:'v4' , energy:16}, {name:'v5' , energy:9}])
                })


            // this callback will be called by the user tap on the donut arc, passing the datum object
            myDonut.onSelected(function(d){
                console.log(d)
            })
        </script>
        
    </body>
    
</html>
