#city-and-racetrack {
	background: -webkit-linear-gradient(left, #FF5A0F, #E61400);
}

.microgrid_section{
	top: 0;
	left: 0;
	width: 1024px;
	height: 768px;
}

/* SMARTGRID */
.smartgrid_section{
	position: absolute;
	width: 1024px;
	height: 768px;
}

#smartgrid_container{
	position: absolute;
	width: 1024px;
	height: 415px;
}

#smartgrid_container > div{
	position: absolute;
	width: 1024px;
	height: 415px;
}

#smartgrid_container svg{
	position: absolute;
	width: 1024px;
	height: 415px;
	top: 0;
	left: 0;
}

#smartgrid_container > div#illustration_smartgrid_hand_container{
	width: 53px;
	height: 64px;
	left: 568px;
	top: 248px;
}

#illustration_smartgrid_hand_container svg{
	width: 53px;
	height: 64px;
}

div#illustration_microgrid_hand_container{
	width: 53px;
	height: 64px;
	left: 548px;
	top: 138px;
	position: absolute;
}

#illustration_microgrid_hand_container svg{
	width: 53px;
	height: 64px;
}

#track_flag h4{
	margin-bottom: .5em;
}

#track_flag .flag_circle{
	background: url(../../img/flags/monaco.png) center; 
	height: 77px;
    width: 77px;
    border: 1px solid;
    border-radius: 50%;
    background-size: cover;
}

#track .info_block h4{
	margin-top: 5px;
}

#track .info_block {
    margin: 0em 0;
    padding: 0 1em;
    margin-bottom: 10px;
}

#illustration_microgrid_urban_container{
	width: 1024px;
	height: 415px;
	position: absolute;
	top: -1.5rem;
	left: 0;
}

#illustration_microgrid_urban_container svg{
	position: absolute;
}


#illustration_microgrid_race_container{
	width: 1024px;
	height: 415px;
	position: absolute;
	top: -1.5rem;
	left: 0;
}

#illustration_microgrid_race_container svg{
	position: absolute;
}

/* ENERGY MIX */
.energy_mix_section{
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
	padding-top: 1.5rem;
}

#donut_energy_mix {
	width: 1024px;
	height: 415px;
	position: absolute;
	top: 0;
	left: 0;
}

#donut_energy_mix svg{
	width: 214px;
	height: 214px;
	position: absolute;
	top: 100px;
    left: 494px;
}

#donut_labels{
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 415px;
}

#donut_labels > div{
	position: absolute;
  z-index: 10;
}

#donut_label_urban{
	    left: 446px;
    top: 80px;
}

#donut_label_temporary{
	    left: 728px;
    top: 180px;
}

#donut_label_clean{
	    left: 430px;
    top: 260px;
}

#donut_sections g path{
	opacity: 1;
}

#smartgrid_race h2{
	margin-bottom: 0;
}

#smartgrid_race .info_block{
	margin-bottom: 3px;
}

#smartgrid_plan_extra_info{
  position: absolute;
  width: 1024px;
  height: 768px;
  top: 10px;
  left: 20px;
  opacity: 1;
  /*display: none;*/
}

#smartgrid_plan_extra_info_text{
  margin-right: 30px;
  /*padding-top: 75px;*/
}

#track h4.fastest_lap{
	padding-left: 25px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../svg/icon_teams_helmet.svg);
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.fastest_lap_container p{
	margin-bottom: 0;
	margin-top: 8px;
}

.fastest_lap_container .unit{
    width: 10px;
    display: block;
    line-height: 1.3em;
    margin-top: 7px;
}

.fastest_lap_container .number{
	padding-top: 5px;
	display: block;
}

#smartgrid.slide {
  padding-right: 0;
  padding-left: 10px;
}

#smartgrid.slide p {
  font-size: 12px; 
}

#smartgrid.slide .buttons {
  padding-right: 0;
}

#smartgrid_latinamerica .columns.small-4 {
  padding-right: 30px;
}

#track_slide.slide h2{
	height: auto;
}


#latinamerica_text_container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#latinamerica_text_container svg{
  height: 40px;
}

#latinamerica_text_container .info_block{
	padding: 0;
  z-index: 10;
}

#latinamerica_text_container #hydro_power{
  position: absolute;
  bottom: 80px;
  z-index: 10;

}

#latinamerica_text_container #wind_power{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#latinamerica_text_container #solar_power{
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 10;

}

#smartgrid_latinamerica .svg_container{
	position: absolute;
	width: 100%;
	height: 400px;
}

#enelworld_text_container .info_block{
	height: 140px;
}



