<div id="panel">
	<div class="space_wrapper">

		<div id="overSvg"><img src="assets/panel_tgt-all.svg" /></div>

		<div class="wrapper">

			<div row cent>
				
				<div class="target" f1>
					<div process="assets/tgt.svg" ></div>
				</div>

				<div class="mid" f3>
					<p upper js_action>Your next target</p>
					<h3 js_title>......</h3>
				</div>
				
				<div>
					<a f1 id="btnPlay" class="btn" href="#play" track="home__play">Play!</a>
				</div>

			</div>
			
		</div>

		<div id="ribbonSvg" class="ribbon" process="panel_car.svg" process-keep ></div>
	</div>
</div>