/* SLIDE CITY AND RACETRACK : CHART + MAP */
#circuit_consumption path{
	stroke:#FFF;
}

#circuit_consumption_wrap{
	position: absolute;
	width: 755px;
	height: 377px;
	left: 290px;
	top: -25px;
}

#circuit_consumption_wrap svg{
	width: 100%;
}

#circuit_consumption_wrap div{
	position: absolute;
	width: 755px;
	height: 377px;
	top: 0;
	left: 0;
	z-index: 2;
}

#circuit_consumption_electricity svg path{
	stroke:#E61400;
	stroke-width:8px;
}

#circuit_consumption_wrap div svg path{
	display: block;
}

#smartgrid .buttons{
	margin-top: 30px;
}

#microgrid_meters_overview_extra_info{
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
}

.slide #microgrid_idle h2{
}

#meters_overview_extra_info_text{
	margin-right: 30px;
  padding-top: 75px;
}
